* {
    font-style: normal;
}

:root {
    --background: #ffffffee;
    --headerFooter: #6ec2db;
    /* --paragraph: #8EC3B0; */
    --button-bg: #db6e6e;
    --button-text: #ffffffee;
}
.footer {
    background-color: var(--headerFooter);
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    left: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    bottom: 0;
    width: 100%;
}